<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loan_count</th>
      <th>cleared_count</th>
      <th>cleared_rate</th>
      <th>0 0 0</th>
      <th>1500 3000 70</th>
      <th>1500 1500 61</th>
    </tr>
    <tr>
      <th>loan_date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20200216</th>
      <td>564</td>
      <td>4</td>
      <td>0.007092</td>
      <td>2</td>
      <td>0</td>
      <td>562</td>
    </tr>
    <tr>
      <th>20200215</th>
      <td>586</td>
      <td>8</td>
      <td>0.013652</td>
      <td>0</td>
      <td>0</td>
      <td>586</td>
    </tr>
    <tr>
      <th>20200214</th>
      <td>514</td>
      <td>8</td>
      <td>0.015564</td>
      <td>5</td>
      <td>2</td>
      <td>507</td>
    </tr>
    <tr>
      <th>20200213</th>
      <td>459</td>
      <td>15</td>
      <td>0.032680</td>
      <td>0</td>
      <td>25</td>
      <td>434</td>
    </tr>
    <tr>
      <th>20200212</th>
      <td>427</td>
      <td>14</td>
      <td>0.032787</td>
      <td>0</td>
      <td>136</td>
      <td>291</td>
    </tr>
    <tr>
      <th>20200211</th>
      <td>457</td>
      <td>19</td>
      <td>0.041575</td>
      <td>0</td>
      <td>457</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200210</th>
      <td>464</td>
      <td>20</td>
      <td>0.043103</td>
      <td>0</td>
      <td>464</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200209</th>
      <td>413</td>
      <td>39</td>
      <td>0.094431</td>
      <td>0</td>
      <td>413</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200208</th>
      <td>418</td>
      <td>34</td>
      <td>0.081340</td>
      <td>0</td>
      <td>418</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200207</th>
      <td>418</td>
      <td>38</td>
      <td>0.090909</td>
      <td>1</td>
      <td>417</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200206</th>
      <td>403</td>
      <td>31</td>
      <td>0.076923</td>
      <td>2</td>
      <td>401</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200205</th>
      <td>407</td>
      <td>52</td>
      <td>0.127764</td>
      <td>0</td>
      <td>407</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200204</th>
      <td>381</td>
      <td>48</td>
      <td>0.125984</td>
      <td>1</td>
      <td>380</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200203</th>
      <td>430</td>
      <td>76</td>
      <td>0.176744</td>
      <td>30</td>
      <td>400</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200202</th>
      <td>397</td>
      <td>58</td>
      <td>0.146096</td>
      <td>23</td>
      <td>374</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200201</th>
      <td>382</td>
      <td>60</td>
      <td>0.157068</td>
      <td>20</td>
      <td>362</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200131</th>
      <td>281</td>
      <td>64</td>
      <td>0.227758</td>
      <td>13</td>
      <td>268</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200130</th>
      <td>361</td>
      <td>58</td>
      <td>0.160665</td>
      <td>12</td>
      <td>349</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200129</th>
      <td>369</td>
      <td>80</td>
      <td>0.216802</td>
      <td>12</td>
      <td>357</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200128</th>
      <td>358</td>
      <td>79</td>
      <td>0.220670</td>
      <td>8</td>
      <td>350</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200127</th>
      <td>396</td>
      <td>75</td>
      <td>0.189394</td>
      <td>7</td>
      <td>389</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200126</th>
      <td>346</td>
      <td>111</td>
      <td>0.320809</td>
      <td>4</td>
      <td>342</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200125</th>
      <td>351</td>
      <td>90</td>
      <td>0.256410</td>
      <td>1</td>
      <td>350</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200124</th>
      <td>328</td>
      <td>77</td>
      <td>0.234756</td>
      <td>0</td>
      <td>328</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200123</th>
      <td>188</td>
      <td>42</td>
      <td>0.223404</td>
      <td>0</td>
      <td>188</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200122</th>
      <td>2</td>
      <td>1</td>
      <td>0.500000</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200119</th>
      <td>5</td>
      <td>3</td>
      <td>0.600000</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20200118</th>
      <td>22</td>
      <td>17</td>
      <td>0.772727</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>