<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sheet_name</th>
      <th>sheet_category</th>
      <th>sheet_describe</th>
      <th>table_struct_base</th>
      <th>table_struct_core</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>df_rules_1</td>
      <td>风控流程</td>
      <td>规则单量分布</td>
      <td>|申请日期 |申请单量 |通过单量 |贷款转化单量 |通过率 |贷款转化率</td>
      <td>|rule_*命中单量</td>
    </tr>
    <tr>
      <th>1</th>
      <td>df_rules_2</td>
      <td>风控流程</td>
      <td>规则单量占比</td>
      <td>|申请日期 |申请单量 |通过单量 |贷款转化单量 |通过率 |贷款转化率</td>
      <td>|rule_*命中单量占比</td>
    </tr>
    <tr>
      <th>2</th>
      <td>df_rules_3</td>
      <td>风控流程</td>
      <td>规则单量漏斗</td>
      <td>|申请日期 |申请单量 |通过单量 |贷款转化单量 |通过率 |贷款转化率</td>
      <td>|rule_*漏斗单量</td>
    </tr>
    <tr>
      <th>3</th>
      <td>df_rules_4</td>
      <td>风控流程</td>
      <td>规则单量占比漏斗</td>
      <td>|申请日期 |申请单量 |通过单量 |贷款转化单量 |通过率 |贷款转化率</td>
      <td>|rule_*漏斗单量占比</td>
    </tr>
    <tr>
      <th>4</th>
      <td>df_loan_1</td>
      <td>贷款流程</td>
      <td>贷款单量分布</td>
      <td>|贷款日期 |贷款单量 |已结清单量 |结清率</td>
      <td>|贷款额度均值 |贷款账期均值 |当天申请D0单量 |第二天D1申请单量 |两天后D2+申请...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>/df_loan_2</td>
      <td>贷款流程</td>
      <td>贷款账期额度分布</td>
      <td>|贷款日期 |贷款单量 |已结清单量 |结清率</td>
      <td>|贷款额度账期1 |贷款额度账期2 |贷款额度账期*</td>
    </tr>
    <tr>
      <th>6</th>
      <td>/df_loan_3</td>
      <td>贷款流程</td>
      <td>申请账期额度分布</td>
      <td>|贷款日期 |贷款单量 |已结清单量 |结清率</td>
      <td>|申请额度账期1 |申请额度账期2 |申请额度账期*</td>
    </tr>
  </tbody>
</table>